PORT=3000
BASE_URL=https://gs.hoangtuan.net

# CSV xuất từ Google Sheet - URL này CHỈ nằm ở backend/.env
PRODUCT_CSV_URL=https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID/export?format=csv&gid=0

# n8n -> Node.js
PAYMENT_WEBHOOK_SECRET=THAY_BANG_CHUOI_BI_MAT_DAI
N8N_ZALO_WEBHOOK_URL=https://nn2.hoangtuan.net/webhook/gs-payment-zalo
N8N_ZALO_SECRET=THAY_BANG_SECRET_ZALO

# VietQR / ngân hàng
BANK_CODE=VCB
BANK_ACCOUNT=0000000000
BANK_ACCOUNT_NAME=HOANG TUAN


# Token tải file có hiệu lực
DOWNLOAD_TOKEN_MINUTES=30
